extras/Node-RED/flows.json
[{"id":"f602e6ba.609d28","type":"tab","label":"Irrigation","disabled":false,"info":""},{"id":"9584418c.dafc2","type":"tab","label":"Automations","disabled":false,"info":""},{"id":"8b7c83fb.ab52b","type":"tab","label":"Vacuum","disabled":false,"info":""},{"id":"e1dc0b88.463bb8","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"546e31ed.0db1c","type":"mqtt-broker","name":"Mosquitto","broker":"10.0.1.22","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2022689a.938918","type":"api-call-service","z":"9584418c.dafc2","name":"Pushover: Opened 1 Minute","server":"e1dc0b88.463bb8","version":1,"service_domain":"notify","service":"pushover","entityId":"","data":"{\t   \"message\": \"The \" & $lowercase(msg.data.new_state.attributes.friendly_name) & \" has been opened for 1 minute\" \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":100,"wires":[[]]},{"id":"8ec438b6.4eb2e8","type":"api-current-state","z":"9584418c.dafc2","name":"Door Notify On","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.door_notify","state_type":"habool","state_location":"","override_payload":"none","entity_location":"payload","override_data":"msg","blockInputOverrides":false,"x":480,"y":42,"wires":[["c5124616.c9bd48"],[]]},{"id":"28fa66cd.af058a","type":"trigger","z":"9584418c.dafc2","name":"Wait 1m","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":100,"wires":[["2022689a.938918"]]},{"id":"9c1d9c7c.ed9c7","type":"change","z":"9584418c.dafc2","name":"Reset If Closed","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["28fa66cd.af058a","5c24f744.30fcb8","cf758271.d4fd6","5a740c2d.009864"]]},{"id":"896f5b34.7b4328","type":"api-call-service","z":"9584418c.dafc2","name":"Pushover","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"notify","service":"pushover","entityId":"","data":"{\t   \"message\": payload \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":40,"wires":[[]]},{"id":"c5124616.c9bd48","type":"template","z":"9584418c.dafc2","name":"Opened","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ data.new_state.attributes.friendly_name }} opened","output":"str","x":740,"y":40,"wires":[["896f5b34.7b4328"]]},{"id":"f9d93af6.184028","type":"server-state-changed","z":"9584418c.dafc2","name":"Door Opened","server":"e1dc0b88.463bb8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.*_door","entityidfiltertype":"regex","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":80,"wires":[["8ec438b6.4eb2e8","28fa66cd.af058a","5c24f744.30fcb8","cf758271.d4fd6","5a740c2d.009864"],["9c1d9c7c.ed9c7"]]},{"id":"42796298.a0104c","type":"api-current-state","z":"9584418c.dafc2","name":"Heading Comparison","server":"e1dc0b88.463bb8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.gate_heading_comparison","state_type":"habool","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":600,"y":340,"wires":[["115d9f48.071141"]]},{"id":"222ebf24.bfbfa","type":"inject","z":"9584418c.dafc2","name":"Every Hour","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":340,"wires":[["3b804cf9.ada174"]]},{"id":"115d9f48.071141","type":"switch","z":"9584418c.dafc2","name":"Last Changed > 4 hours","property":"data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gt","v":"14400000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":340,"wires":[["1eab32fa.1312bd"]]},{"id":"c444f1de.8365f","type":"api-call-service","z":"9584418c.dafc2","name":"Pushover","server":"e1dc0b88.463bb8","version":1,"service_domain":"notify","service":"pushover","entityId":"","data":"{\t   \"message\": payload \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":360,"wires":[[]]},{"id":"9aee0f4b.44e93","type":"trigger-state","z":"9584418c.dafc2","name":"Gate Offline/Online","server":"e1dc0b88.463bb8","entityid":"sensor.gate_online_offline","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":400,"wires":[["cc1f97c7.911bf8"],[]]},{"id":"1fdf1fb6.8cd5d","type":"function","z":"9584418c.dafc2","name":"Create msg object","func":"var message = \"Gate reports \" + msg.payload + \"..\"\n\nreturn { payload: message,topic:msg.topic };","outputs":1,"noerr":0,"x":1090,"y":380,"wires":[["c444f1de.8365f"]]},{"id":"cc1f97c7.911bf8","type":"api-current-state","z":"9584418c.dafc2","name":"Gate Alert On","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.gate_alert","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":680,"y":400,"wires":[["1fdf1fb6.8cd5d"],[]]},{"id":"3b804cf9.ada174","type":"api-current-state","z":"9584418c.dafc2","name":"Gate Alert On","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.gate_alert","state_type":"habool","state_location":"","override_payload":"none","entity_location":"payload","override_data":"msg","blockInputOverrides":false,"x":380,"y":340,"wires":[["42796298.a0104c"],[]]},{"id":"1eab32fa.1312bd","type":"function","z":"9584418c.dafc2","name":"Create msg object","func":"var last_time = msg.data.timeSinceChangedMs\n\nfunction msToTime(duration) {\n  var milliseconds = parseInt((duration % 1000) / 100),\n    seconds = Math.floor((duration / 1000) % 60),\n    minutes = Math.floor((duration / (1000 * 60)) % 60),\n    hours = Math.floor((duration / (1000 * 60 * 60)) % 24);\n\n  hours = (hours < 10) ? \"0\" + hours : hours;\n  minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n  seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n  return hours + \":\" + minutes + \":\" + seconds + \".\" + milliseconds;\n}\n\nvar message = msg.data.entity_id + \" last changed \" +  msToTime(last_time) + \" ago\"\n\nreturn { payload: message,topic:msg.topic };","outputs":1,"noerr":0,"x":1090,"y":340,"wires":[["c444f1de.8365f"]]},{"id":"73550501.be7fbc","type":"trigger-state","z":"9584418c.dafc2","name":"Rack Temperature","server":"e1dc0b88.463bb8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.rack_exhaust_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":190,"y":578,"wires":[["7dff3ae1.e36a04"],[]]},{"id":"7dff3ae1.e36a04","type":"switch","z":"9584418c.dafc2","name":"Above 90?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"},{"t":"lte","v":"90","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":578,"wires":[["29b17ed7.fab972"],["96b5207d.407dd"]]},{"id":"88822bfe.2cc598","type":"api-call-service","z":"9584418c.dafc2","name":"Turn on Fan","server":"e1dc0b88.463bb8","version":1,"service_domain":"homeassistant","service":"turn_on","entityId":"fan.rack_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":850,"y":520,"wires":[[]]},{"id":"96b5207d.407dd","type":"api-current-state","z":"9584418c.dafc2","name":"Rack Fan","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"fan.rack_fan","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":598,"wires":[["c7ff978f.ff0728"],[]]},{"id":"b259f0eb.3e83","type":"api-call-service","z":"9584418c.dafc2","name":"Turn off fan","server":"e1dc0b88.463bb8","version":1,"service_domain":"homeassistant","service":"turn_off","entityId":"fan.rack_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":1090,"y":620,"wires":[[]]},{"id":"fa90c550.d6c948","type":"inject","z":"9584418c.dafc2","name":"At 8 PM","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":738,"wires":[["e93027cb.6a6308","8ee35d65.a7569","41b918d5.7ce018","77184c93.8790d4","39a5ce57.78e3d2","ea19fe14.80749"]]},{"id":"e93027cb.6a6308","type":"api-current-state","z":"9584418c.dafc2","name":"Master Bedroom Lamps On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.master_bedroom_lamps","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":738,"wires":[["fc81cfda.29ff5"],[]]},{"id":"fc81cfda.29ff5","type":"api-call-service","z":"9584418c.dafc2","name":"Set brightness to 128","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"brightness\":\"128\",\"transition\":5, \"entity_id\": msg.data.entity_id}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":801,"y":738,"wires":[[]]},{"id":"c7ff978f.ff0728","type":"api-current-state","z":"9584418c.dafc2","name":"Rack fan auto off?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.rack_fan_auto_off","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":620,"wires":[["b259f0eb.3e83"],[]]},{"id":"29b17ed7.fab972","type":"api-current-state","z":"9584418c.dafc2","name":"Rack Fan","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"fan.rack_fan","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":520,"wires":[[],["88822bfe.2cc598"]]},{"id":"1aa251bd.6f0e9e","type":"mqtt in","z":"8b7c83fb.ab52b","name":"/nodered/vacuum_whole_house","topic":"/nodered/vacuum_whole_house","qos":"2","datatype":"auto","broker":"546e31ed.0db1c","x":210,"y":400,"wires":[["29209546.eb968a"]]},{"id":"29209546.eb968a","type":"api-call-service","z":"8b7c83fb.ab52b","name":"Clean Whole House","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"vacuum_clean_segment","entityId":"vacuum.roborock_s4","data":"{\"segments\":[16,18,19,20,21,23,24,25,26]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":400,"wires":[[]]},{"id":"17af1404.3ae58c","type":"comment","z":"8b7c83fb.ab52b","name":"Vacuum Whole House Flow","info":"This flow is triggered via the front-end.  When\ntriggered it sends an mqtt message to the \n`/nodered/vacuum_whole_house` topic to trigger\nthis flow.","x":200,"y":340,"wires":[]},{"id":"687a5cba.3364d4","type":"comment","z":"8b7c83fb.ab52b","name":"Update roborock_s4_last_cleaned sensor value Flow","info":"These flow updates the `roborock_s4_last_cleaned`\nsensor value every 5 minutes.  This is required\nbecause the `value_template` does a relative time\ncalculation to populate the value.  Since the\ncalculation it's done on is calculated from now and\na date of a state attribute it normally only gets\nupdated when the state attribute is updated which\nis typically once a day.  Now it will update it\nevery 5 minutes so that the relative time is\nmostly up to date.","x":270,"y":720,"wires":[]},{"id":"ac96d33b.a72d8","type":"inject","z":"8b7c83fb.ab52b","name":"Every 5 Minutes","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":780,"wires":[["32580dee.376852"]]},{"id":"32580dee.376852","type":"api-call-service","z":"8b7c83fb.ab52b","name":"Update sensor.roborock_s4_last_cleaned","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"update_entity","entityId":"sensor.roborock_s4_last_cleaned","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":780,"wires":[[]]},{"id":"878420a4.abf03","type":"inject","z":"8b7c83fb.ab52b","name":"Every Day at Midnight","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":580,"wires":[["29fbc329.00e52c"]]},{"id":"29fbc329.00e52c","type":"api-call-service","z":"8b7c83fb.ab52b","name":"Reset Roborock Daily Run","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.roborock_daily_run","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":600,"wires":[[]]},{"id":"dc2428e4.db1488","type":"comment","z":"8b7c83fb.ab52b","name":"Toggling Roborock Daily Run Boolean","info":"These automations manage the state of the\n`roborock_daily_run` input boolean.\n\n**Note:** The clean zone command can only do 5\nzones at a time.  Since we have 6, when it finishes\nthe 5th we check a global variable to see if we've\ncleaned the 6th yet (guest bedroom).  If not we\nclean it then set the daily run input boolean to true.","x":230,"y":520,"wires":[]},{"id":"e94108fc.39f848","type":"comment","z":"8b7c83fb.ab52b","name":"Maintenance Notifications Flows","info":"These flows send notifications when filters need\nto be replaced or sensors need to be cleaned.","x":210,"y":900,"wires":[]},{"id":"342fc890.a13dc8","type":"server-state-changed","z":"8b7c83fb.ab52b","d":true,"name":"Vacuum State Change","server":"e1dc0b88.463bb8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.roborock_s4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":1020,"wires":[["34ddcfd4.31e46","903e6322.0889b","ad4cde13.b0f48","4a0f14ef.b15f7c"]]},{"id":"34ddcfd4.31e46","type":"function","z":"8b7c83fb.ab52b","name":"Check Filter","func":"var hoursLeft = msg.data.new_state.attributes.filter_left;\nif (hoursLeft <= 10) {\n    msg.payload = {\n        data: {\n            \"title\": \"Vacuum Maintenance Alert\",\n            \"message\": \"It's time to order replacement parts for your filter.  There are only \" + hoursLeft + \"hrs remaining.\"\n        }\n    }\n    return [msg, null]\n}\nreturn [null, msg]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":960,"wires":[["2caf5f98.ad1e5"],[]]},{"id":"903e6322.0889b","type":"function","z":"8b7c83fb.ab52b","name":"Check Side Brush","func":"var hoursLeft = msg.data.new_state.attributes.side_brush_left;\nif (hoursLeft <= 10) {\n    msg.payload = {\n        data: {\n            \"title\": \"Vacuum Maintenance Alert\",\n            \"message\": \"It's time to order replacement parts for your side brush.  There are only \" + hoursLeft + \"hrs remaining.\"\n        }\n    }\n    return [msg, null]\n}\nreturn [null, msg]","outputs":2,"noerr":0,"x":410,"y":1000,"wires":[["2caf5f98.ad1e5"],[]],"info":"Sets the msg payload if needed."},{"id":"ad4cde13.b0f48","type":"function","z":"8b7c83fb.ab52b","name":"Check Main Brush","func":"var hoursLeft = msg.data.new_state.attributes.main_brush_left;\nif (hoursLeft <= 10) {\n    msg.payload = {\n        data: {\n            \"title\": \"Vacuum Maintenance Alert\",\n            \"message\": \"It's time to order replacement parts for your main brush.  There are only \" + hoursLeft + \"hrs remaining.\"\n        }\n    }\n    return [msg, null]\n}\nreturn [null, msg]","outputs":2,"noerr":0,"x":410,"y":1040,"wires":[["2caf5f98.ad1e5"],[]]},{"id":"4a0f14ef.b15f7c","type":"function","z":"8b7c83fb.ab52b","name":"Check Sensors","func":"var hoursLeft = msg.data.new_state.attributes.sensor_dirty_left;\nif (hoursLeft <= 2) {\n    msg.payload = {\n        data: {\n            \"title\": \"Vacuum Maintenance Alert\",\n            \"message\": \"It's time to clean the vacuum sensors.  There are 4 cliff sensors on the bottom front and 1 wall sensor on the left of the robot.  There are only \" + hoursLeft + \"hrs remaining.\"\n        }\n    }\n    return [msg, null]\n}\nreturn [null, msg]","outputs":2,"noerr":0,"x":400,"y":1080,"wires":[["2caf5f98.ad1e5"],[]]},{"id":"2caf5f98.ad1e5","type":"api-call-service","z":"8b7c83fb.ab52b","name":"Notify Godfrey","server":"e1dc0b88.463bb8","version":"1","debugenabled":false,"service_domain":"notify","service":"pushover","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":1020,"wires":[[]]},{"id":"d075fa5.3436c08","type":"api-current-state","z":"8b7c83fb.ab52b","name":"Roborock Already Run Today?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.roborock_daily_run","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":180,"wires":[["9c0a226b.33b6f"],[]]},{"id":"78da933.8296c6c","type":"inject","z":"8b7c83fb.ab52b","d":true,"name":"Manually Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["d075fa5.3436c08"]]},{"id":"aee03f49.26b8f","type":"api-call-service","z":"8b7c83fb.ab52b","name":"Clean High Traffic Areas","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"vacuum_clean_segment","entityId":"vacuum.roborock_s4","data":"{\"segments\":[16,23,25]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":120,"wires":[[]]},{"id":"9c0a226b.33b6f","type":"api-current-state","z":"8b7c83fb.ab52b","name":"Roborock Running?","server":"e1dc0b88.463bb8","version":"1","outputs":2,"halt_if":"cleaning","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"vacuum.roborock_s4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":160,"wires":[["aee03f49.26b8f"],[]]},{"id":"24b0302d.8fb88","type":"trigger-state","z":"8b7c83fb.ab52b","d":true,"name":"Everyone Away?","server":"e1dc0b88.463bb8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.trackers","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"j0ob9uldbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"},{"id":"7d6k4kkns33","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":160,"wires":[["d075fa5.3436c08"],[]]},{"id":"95ef185b.14bd78","type":"inject","z":"8b7c83fb.ab52b","d":true,"name":"Every Day at 2PM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["d075fa5.3436c08"]]},{"id":"db0e8ed4.c8edc","type":"comment","z":"8b7c83fb.ab52b","name":"Auto Run Vacuum Automation","info":"This automation can be triggered in 1 of 3 ways:\n\n * Manually invoked by hitting the inject node.\n * When no one is home if it has not run today and is not currently cleaning.\n * If at 2PM someone is still home and it hasn't run today.","x":200,"y":40,"wires":[]},{"id":"54bad548.7e9fcc","type":"ha-get-entities","z":"f602e6ba.609d28","server":"e1dc0b88.463bb8","name":"Get \"On\" Sprinklers","rules":[{"property":"entity_id","logic":"starts_with","value":"switch.irrigation","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"switch.irrigation_master_valve,switch.irrigation_24v_power","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":350,"y":100,"wires":[["bcbf413e.7b188"]]},{"id":"5a10cd93.8e94b4","type":"inject","z":"f602e6ba.609d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["54bad548.7e9fcc"]]},{"id":"a77808ff.3f1288","type":"switch","z":"f602e6ba.609d28","name":"On Longer than 20 minutes?","property":"payload[0].timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gte","v":"1200000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":60,"wires":[["54ae6ec3.1bc63"]]},{"id":"54ae6ec3.1bc63","type":"api-call-service","z":"f602e6ba.609d28","name":"Turn Off Zone","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{ \"entity_id\": payload[0].entity_id }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":80,"wires":[[]]},{"id":"bcbf413e.7b188","type":"switch","z":"f602e6ba.609d28","name":"More Than 0 Entities?","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":160,"wires":[["a77808ff.3f1288","3b848bce.76aea4"],["c42e6d62.7a24c"]]},{"id":"3b848bce.76aea4","type":"change","z":"f602e6ba.609d28","name":"Reset Delay","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":100,"wires":[["cdd3b7ef.04a618"]]},{"id":"43dedcca.ac7734","type":"api-call-service","z":"f602e6ba.609d28","name":"Turn Off Master","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_master_valve","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":140,"wires":[[]]},{"id":"b4335c36.09adb","type":"comment","z":"f602e6ba.609d28","name":"Set Auto-Off for Sprinkler","info":"","x":250,"y":40,"wires":[]},{"id":"c42e6d62.7a24c","type":"api-current-state","z":"f602e6ba.609d28","name":"Master On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_master_valve","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":200,"wires":[["cdd3b7ef.04a618"],["3b848bce.76aea4"]]},{"id":"3314ec9f.ca8994","type":"server-state-changed","z":"9584418c.dafc2","name":"Garage Opened","server":"e1dc0b88.463bb8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_door","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":140,"wires":[["8ec438b6.4eb2e8"],[]]},{"id":"d269f175.c9dc6","type":"server-events","z":"f602e6ba.609d28","name":"Custom Water Event Fired","server":"e1dc0b88.463bb8","event_type":"irrigation_custom_water","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":170,"y":320,"wires":[["76160bc4.8cd644"]]},{"id":"8ee35d65.a7569","type":"api-current-state","z":"9584418c.dafc2","name":"Kitchen Cans On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_can_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":798,"wires":[["5420f9c0.5356c8"],[]]},{"id":"41b918d5.7ce018","type":"api-current-state","z":"9584418c.dafc2","name":"Kitchen Table On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_table_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":858,"wires":[["5420f9c0.5356c8"],[]]},{"id":"5420f9c0.5356c8","type":"api-call-service","z":"9584418c.dafc2","name":"Set brightness to 40","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"brightness\":\"40\",\"transition\":5, \"entity_id\": msg.data.entity_id}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":878,"wires":[[]]},{"id":"77184c93.8790d4","type":"api-current-state","z":"9584418c.dafc2","name":"Kitchen Sink On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_sink_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":918,"wires":[["5420f9c0.5356c8"],[]]},{"id":"39a5ce57.78e3d2","type":"api-current-state","z":"9584418c.dafc2","name":"Living Room Cans On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room_can_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":978,"wires":[["5420f9c0.5356c8"],[]]},{"id":"5c24f744.30fcb8","type":"trigger","z":"9584418c.dafc2","name":"Wait 5m","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":140,"wires":[["6aa388d0.707768"]]},{"id":"6aa388d0.707768","type":"api-call-service","z":"9584418c.dafc2","name":"Alexa Announce Opened","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"The\" & $lowercase(msg.data.new_state.attributes.friendly_name) & \"has been opened for 5 minutes.\",\"data\":{\"method\":\"all\",\"type\":\"announce\"},\"target\":[\"Office\",\"Kitchen\",\"Master\",\"Living Room\"]}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":160,"wires":[[]]},{"id":"cf758271.d4fd6","type":"trigger","z":"9584418c.dafc2","name":"Wait 10m","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":180,"wires":[["6aa388d0.707768"]]},{"id":"5a740c2d.009864","type":"trigger","z":"9584418c.dafc2","name":"Wait 15m","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":220,"wires":[["6aa388d0.707768"]]},{"id":"76160bc4.8cd644","type":"change","z":"f602e6ba.609d28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.zones","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":320,"wires":[["116d5bb3.ee92a4"]]},{"id":"3367e45f.cc981c","type":"function","z":"f602e6ba.609d28","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"x":410,"y":380,"wires":[["116d5bb3.ee92a4"]]},{"id":"116d5bb3.ee92a4","type":"function","z":"f602e6ba.609d28","name":"For Each","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":320,"wires":[["565ee5c1.561bfc","80df47d5.602888"]]},{"id":"80df47d5.602888","type":"api-call-service","z":"f602e6ba.609d28","name":"Turn On Zone","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{ \"entity_id\": payload.zone}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":320,"wires":[[]]},{"id":"fb46876c.845298","type":"api-call-service","z":"f602e6ba.609d28","name":"Turn Off Zone","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{ \"entity_id\": payload.zone}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":380,"wires":[["98eeafa7.bd2b9"]]},{"id":"98eeafa7.bd2b9","type":"delay","z":"f602e6ba.609d28","name":"Delay 5","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":460,"wires":[["3367e45f.cc981c"]]},{"id":"7c3d09ca.229958","type":"comment","z":"f602e6ba.609d28","name":"Fired From HA Python Script or Automation","info":"","x":310,"y":260,"wires":[]},{"id":"565ee5c1.561bfc","type":"change","z":"f602e6ba.609d28","name":"Set Delay Variable","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload.time* 60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["22a20603.86a06a"]]},{"id":"e30074d7.cabc48","type":"comment","z":"f602e6ba.609d28","name":"Scheduled Sprinklers","info":"","x":240,"y":540,"wires":[]},{"id":"f385b567.54a728","type":"inject","z":"f602e6ba.609d28","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 05 * * 1","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"zone\":\"switch.irrigation_front_beds\",\"time\":10,\"name\":\"Front beds\"},{\"zone\":\"switch.irrigation_front_lawn\",\"time\":20,\"name\":\"Front lawn\"},{\"zone\":\"switch.irrigation_left_and_main_rear_lawn\",\"time\":20,\"name\":\"Left and main rear lawn\"},{\"zone\":\"switch.irrigation_front_and_right_rear_lawn\",\"time\":20,\"name\":\"Front and right rear lawn\"},{\"zone\":\"switch.irrigation_side_lawn\",\"time\":20,\"name\":\"Side lawn\"}]","payloadType":"json","x":120,"y":600,"wires":[["93d94302.48e1e"]]},{"id":"af3fed65.aaa59","type":"change","z":"f602e6ba.609d28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.zones","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":580,"wires":[["eae2555a.bd5708"]]},{"id":"e889876b.7e4118","type":"function","z":"f602e6ba.609d28","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"x":490,"y":700,"wires":[["eae2555a.bd5708"]]},{"id":"eae2555a.bd5708","type":"function","z":"f602e6ba.609d28","name":"For Each","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":640,"wires":[["2bdda7bf.547508"]]},{"id":"40f28a83.38ef14","type":"api-call-service","z":"f602e6ba.609d28","name":"Turn On Zone","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{ \"entity_id\": payload.zone}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":620,"wires":[["63ea64cb.3ef3cc"]]},{"id":"bfa18629.3f4b78","type":"api-call-service","z":"f602e6ba.609d28","name":"Turn Off Zone","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{ \"entity_id\": payload.zone}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":840,"wires":[["b91a8e8c.dae0b"]]},{"id":"b91a8e8c.dae0b","type":"delay","z":"f602e6ba.609d28","name":"Delay 5","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":760,"wires":[["e889876b.7e4118"]]},{"id":"63ea64cb.3ef3cc","type":"change","z":"f602e6ba.609d28","name":"Set Delay Variable","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload.time* 60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":700,"wires":[["75c77130.5c2a7"]]},{"id":"ce337312.38f27","type":"switch","z":"f602e6ba.609d28","name":"Last Ran > 24 Hrs","property":"data.continue","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":660,"wires":[["40f28a83.38ef14","63ea64cb.3ef3cc"],["e889876b.7e4118"]]},{"id":"e01c2a47.9481c8","type":"api-render-template","z":"f602e6ba.609d28","name":"Zone Last Ran > 24 hours","server":"e1dc0b88.463bb8","template":"","resultsLocation":"data.continue","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":850,"y":580,"wires":[["ce337312.38f27","44bd27ae.9b31b8"]]},{"id":"2bdda7bf.547508","type":"template","z":"f602e6ba.609d28","name":"Build Template","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{%- set entity_name = \"input_datetime{{ payload.zone }}\" | regex_replace(find='switch', replace='', ignorecase=False) -%}\n{%- set time = (as_timestamp(now()) - as_timestamp(states(entity_name+\"_last_start\"))) | int -%}\n{% if time > 86400 %}1{% else %}0{% endif %}","output":"str","x":600,"y":580,"wires":[["e01c2a47.9481c8"]]},{"id":"93d94302.48e1e","type":"api-current-state","z":"f602e6ba.609d28","name":"Schedule Enabled","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.enable_irrigation_scheduling","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":190,"y":680,"wires":[["ad79134b.96baf","6027f28e.d285cc"],[]]},{"id":"ad79134b.96baf","type":"api-call-service","z":"f602e6ba.609d28","name":"Turn On Master","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.irrigation_master_valve","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":740,"wires":[[]]},{"id":"75c77130.5c2a7","type":"stoptimer-varidelay","z":"f602e6ba.609d28","duration":"5","durationType":"num","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"Delay","reporting":"every_second","persist":false,"x":970,"y":760,"wires":[["bfa18629.3f4b78","733966d0.66e5c8"],[],["7d709123.ae59f"]]},{"id":"7d709123.ae59f","type":"mqtt out","z":"f602e6ba.609d28","name":"Publish Time Remaining","topic":"sensor/irrigation_time_remaining","qos":"","retain":"","broker":"546e31ed.0db1c","x":1210,"y":760,"wires":[]},{"id":"22a20603.86a06a","type":"stoptimer-varidelay","z":"f602e6ba.609d28","duration":"5","durationType":"num","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"Delay","reporting":"every_second","persist":false,"x":830,"y":380,"wires":[["fb46876c.845298"],[],["a8d96e.1f00969"]]},{"id":"a8d96e.1f00969","type":"mqtt out","z":"f602e6ba.609d28","name":"Publish Time Remaining","topic":"sensor/irrigation_time_remaining","qos":"","retain":"","broker":"546e31ed.0db1c","x":1150,"y":320,"wires":[]},{"id":"cdd3b7ef.04a618","type":"trigger","z":"f602e6ba.609d28","name":"Wait 5m","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":900,"y":140,"wires":[["43dedcca.ac7734"]]},{"id":"d1bfb1a4.692c5","type":"api-call-service","z":"f602e6ba.609d28","name":"Pushover","server":"e1dc0b88.463bb8","version":1,"debugenabled":false,"service_domain":"notify","service":"pushover","entityId":"","data":"{\t   \"message\": alert \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":640,"wires":[[]]},{"id":"733966d0.66e5c8","type":"function","z":"f602e6ba.609d28","name":"Create msg object","func":"var message = \"Sprinkler auto-run: \" + msg.payload.name + \" ran for \" +  msg.payload.time + \" minutes\"\n\nreturn { alert: message };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":720,"wires":[["d1bfb1a4.692c5"]]},{"id":"6027f28e.d285cc","type":"delay","z":"f602e6ba.609d28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":620,"wires":[["af3fed65.aaa59"]]},{"id":"44bd27ae.9b31b8","type":"debug","z":"f602e6ba.609d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":560,"wires":[]},{"id":"ea19fe14.80749","type":"api-current-state","z":"9584418c.dafc2","name":"Entryway On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.entryway_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":1040,"wires":[["5420f9c0.5356c8"],[]]}]