extras/Node-RED/flows.json
[{"id":"9584418c.dafc2","type":"tab","label":"Automations","disabled":false,"info":""},{"id":"e1dc0b88.463bb8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false},{"id":"4849c0fb.bdc85","type":"api-call-service","z":"9584418c.dafc2","name":"Backlight Red","server":"e1dc0b88.463bb8","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.monitor_backlight_full_red","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":998,"y":105,"wires":[[]]},{"id":"69a050f4.ae9f8","type":"api-current-state","z":"9584418c.dafc2","name":"Is Backlight On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.andrew_monitor_backlight","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":801,"y":38,"wires":[["b8ad3ccf.32cb6"],[]]},{"id":"45d9c30e.322dfc","type":"api-current-state","z":"9584418c.dafc2","name":"Is Backlight On?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.andrew_monitor_backlight","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":801,"y":106,"wires":[["4849c0fb.bdc85"],[]]},{"id":"b8ad3ccf.32cb6","type":"api-call-service","z":"9584418c.dafc2","name":"Backlight White","server":"e1dc0b88.463bb8","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.monitor_backlight_full_white","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":997,"y":36,"wires":[[]]},{"id":"9225ef03.f82cd","type":"inject","z":"9584418c.dafc2","name":"Every Hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":259,"wires":[["46bca3c2.90ff9c"]]},{"id":"46bca3c2.90ff9c","type":"api-current-state","z":"9584418c.dafc2","name":"AC Filter Days Left","server":"e1dc0b88.463bb8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ac_filter_change","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":352.44445292154944,"y":259.11109754774304,"wires":[["34a8b34e.61c4bc"]]},{"id":"34a8b34e.61c4bc","type":"switch","z":"9584418c.dafc2","name":"Days Remaining Comparison","property":"data.attributes.days_remaining","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"lte","v":"5","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":599.5554962158203,"y":259.0000305175781,"wires":[["f4052625.f83008"],["d28fa806.2eaca8"]]},{"id":"f4052625.f83008","type":"api-call-service","z":"9584418c.dafc2","name":"Thermostar LED Red","server":"e1dc0b88.463bb8","version":1,"service_domain":"rest_command","service":"set_thermostat_led","entityId":"","data":"{\"color\":\"red\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":886.2223052978516,"y":237.33328247070312,"wires":[[]]},{"id":"d28fa806.2eaca8","type":"api-call-service","z":"9584418c.dafc2","name":"Thermostat LED Yellow","server":"e1dc0b88.463bb8","version":1,"service_domain":"rest_command","service":"set_thermostat_led","entityId":"","data":"{\"color\":\"yellow\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":885.3332672119141,"y":286.7777404785156,"wires":[[]]},{"id":"229ecf32.37cbb","type":"trigger-state","z":"9584418c.dafc2","name":"binary_sensor.*door Open","server":"e1dc0b88.463bb8","entityid":"binary_sensor.*door","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"cd4pqpdtmei","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":171,"y":519,"wires":[["28fa66cd.af058a","8ec438b6.4eb2e8"],["9c1d9c7c.ed9c7"]]},{"id":"2022689a.938918","type":"api-call-service","z":"9584418c.dafc2","name":"Pushover: Opened 1 Minute","server":"e1dc0b88.463bb8","version":1,"service_domain":"notify","service":"pushover","entityId":"","data":"{\t   \"message\": \"The \" & $lowercase($.data.event.new_state.attributes.friendly_name) & \" has been opened for 1 minute\" \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":851,"y":519,"wires":[[]]},{"id":"8ec438b6.4eb2e8","type":"api-current-state","z":"9584418c.dafc2","name":"Door Notify On","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.door_notify","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":501,"y":439,"wires":[["c5124616.c9bd48"],[]]},{"id":"28fa66cd.af058a","type":"trigger","z":"9584418c.dafc2","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"Wait 1m","x":611,"y":519,"wires":[["2022689a.938918"]]},{"id":"9c1d9c7c.ed9c7","type":"change","z":"9584418c.dafc2","name":"Reset If Closed","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":401,"y":579,"wires":[["28fa66cd.af058a"]]},{"id":"896f5b34.7b4328","type":"api-call-service","z":"9584418c.dafc2","name":"Pushover","server":"e1dc0b88.463bb8","version":1,"service_domain":"notify","service":"pushover","entityId":"","data":"{\t   \"message\": payload \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":901,"y":439,"wires":[[]]},{"id":"4afb860e.3f6418","type":"delay","z":"9584418c.dafc2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":362,"y":75,"wires":[["c229a5ce.6d4ad8"]]},{"id":"c229a5ce.6d4ad8","type":"api-current-state","z":"9584418c.dafc2","name":"Internet Reachable?","server":"e1dc0b88.463bb8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.internet_reachability","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":74,"wires":[["69a050f4.ae9f8"],["45d9c30e.322dfc"]]},{"id":"a8e07bf8.32b8b8","type":"server-state-changed","z":"9584418c.dafc2","name":"Internet Reachable?","server":"e1dc0b88.463bb8","version":1,"entityidfilter":"binary_sensor.internet_reachability","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":152,"y":75,"wires":[["4afb860e.3f6418"],["4afb860e.3f6418"]]},{"id":"c5124616.c9bd48","type":"template","z":"9584418c.dafc2","name":"Opened","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ data.event.new_state.attributes.friendly_name }} opened","output":"str","x":721,"y":439,"wires":[["896f5b34.7b4328"]]},{"id":"cd0b2e22.179f9","type":"ha-api","z":"9584418c.dafc2","name":"Grab Outdoor Image","server":"e1dc0b88.463bb8","protocol":"websocket","method":"get","path":"","data":"{\"type\":\"camera_thumbnail\",\"entity_id\":\"camera.outdoor\"}","dataType":"json","location":"outdoor","locationType":"msg","responseType":"json","x":361,"y":720,"wires":[["c86a207b.69e23"]]},{"id":"bcc410c8.b6a6b","type":"inject","z":"9584418c.dafc2","name":"Noon","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":111,"y":720,"wires":[["cd0b2e22.179f9"]]},{"id":"c8c10914.0497a8","type":"file","z":"9584418c.dafc2","name":"","filename":"Save File","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"base64","x":901,"y":720,"wires":[[]]},{"id":"c86a207b.69e23","type":"function","z":"9584418c.dafc2","name":"Create msg","func":"msg = {\n    filename: `/data/timelapse/outdoor_camera_${Date.now()}.jpg`,\n    payload: msg.outdoor.content,\n}\nreturn msg;","outputs":1,"noerr":0,"x":651,"y":720,"wires":[["c8c10914.0497a8"]]}]